@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}

.wow {
  visibility: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

button, textarea, input {
  border-radius: 0;
}

button {
  cursor: pointer;
}

/* Animación suave */
a, button, .cabecera, .nav-principal ul li a:after, footer article .social ul li a:before, .s_home .medios-pago article, .s_home .medios-pago article .inner {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

html {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

html.active {
  opacity: 1;
}

body {
  background: #151515;
  color: #C2C9D0;
  font-size: 16px;
  line-height: 24px;
  padding-top: 75px;
}

body.nav-active {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.banda {
  padding: 50px 0;
  clear: both;
}

.banda:after {
  content: '';
  display: block;
  clear: both;
}

.yellow-btn {
  background: #FBDD12;
  color: #151515;
  display: inline-block;
  font-size: 18px;
  padding: 12px 30px;
  text-align: center;
  border: 1px solid #FBDD12;
}

.yellow-btn:hover {
  background: transparent;
  color: #FBDD12;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.yellow-btn:active {
  -webkit-transform: translateY(2.5px);
  transform: translateY(2.5px);
  background: #FBDD12;
  color: #151515;
}

.top {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

@media (min-width: 1200px) {
  .top {
    padding-top: 200px;
    padding-bottom: 150px;
  }
}

.floating-box-container {
  margin-top: -60px;
  z-index: 10;
}

.floating-box-container .floating-box {
  border-top: 5px solid #FBDD12;
  background: #272727;
  padding: 45px 15px;
  text-align: center;
}

.floating-box-container .floating-box h3 {
  text-align: center;
}

.pictext_box:after {
  display: block;
  clear: both;
  content: '';
}

.pictext_box h3 {
  text-align: center;
}

.pictext_box img {
  width: 100%;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .pictext_box img {
    width: 50%;
    float: left;
  }
}

.pictext_box p {
  font-size: 18px;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .pictext_box .content {
    float: left;
    width: 50%;
    padding-left: 60px;
    padding-top: 25px;
  }
}

.fonts-loaded body {
  font-family: KanitLight, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fonts-b-loaded .nav-principal ul li a, .fonts-b-loaded footer article p, .fonts-b-loaded h1 strong, .fonts-b-loaded h3, .fonts-b-loaded h5, .fonts-b-loaded .yellow-btn, .fonts-b-loaded form label, .fonts-b-loaded form p {
  font-family: KanitSemiBold, sans-serif;
}

@font-face {
  font-family: KanitLight;
  src: url("../fonts/kanit/kanit-light.woff2") format("woff2"), url("../fonts/kanit/kanit-light.woff") format("woff"), url("../fonts/kanit/kanit-light.eot") format("eot");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: KanitSemiBold;
  src: url("../fonts/kanit/kanit-semibold.woff2") format("woff2"), url("../fonts/kanit/kanit-semibold.woff") format("woff"), url("../fonts/kanit/kanit-semibold.eot") format("eot");
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-weight: 300;
  color: #CE2840;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 64px;
    line-height: 72px;
  }
}

h2 {
  font-size: 22px;
  line-height: 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
}

h5 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 5px;
}

.cabecera {
  width: 100%;
  background: #151515;
  height: 75px;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}

.cabecera .container {
  position: relative;
  height: 100%;
}

.cabecera.active {
  position: fixed;
  left: 0;
  top: 0;
}

.cabecera.ocultar {
  top: -100px;
}

.cabecera__logo {
  display: block;
  width: 170px;
  z-index: 20;
  left: 15px;
}

.cabecera__logo img {
  width: 100%;
  display: block;
}

@media (min-width: 1200px) {
  .cabecera__logo {
    width: 200px;
  }
}

.cabecera__logo,
.hamburger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-principal {
  padding-top: 130px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #CE2840;
  display: none;
}

@media (min-width: 768px) {
  .nav-principal {
    display: block;
    position: absolute;
    left: auto;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    height: auto;
    width: auto;
  }
}

.nav-principal ul li {
  text-align: center;
  padding: 0 0 35px;
}

@media (min-width: 768px) {
  .nav-principal ul li {
    display: inline-block;
    padding: 0 15px 0 0;
  }
  .nav-principal ul li:last-child {
    padding-right: 0;
  }
}

.nav-principal ul li:last-child {
  padding-bottom: 0;
}

.nav-principal ul li a {
  font-size: 24px;
  color: #C2C9D0;
  text-transform: uppercase;
  position: relative;
}

@media (min-width: 768px) {
  .nav-principal ul li a {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .nav-principal ul li a {
    font-size: 18px;
  }
}

.nav-principal ul li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.nav-principal ul li a:after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: #FBDD12;
  position: absolute;
  left: 0;
  bottom: -5px;
  opacity: 0;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.nav-principal ul li a:active:after {
  -webkit-transform: translateY(3.5px);
  transform: translateY(3.5px);
}

.nav-principal ul li a.activo:after {
  opacity: 1;
  bottom: -5px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*Hamburguesa*/
.hamburger,
.hamburger:focus {
  right: 15px;
  font: inherit;
  color: inherit;
  text-transform: none;
  margin: 0;
  border: 0;
  background-color: transparent;
  overflow: visible;
  cursor: pointer;
  outline: none;
  z-index: 20;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (min-width: 768px) {
  .hamburger,
  .hamburger:focus {
    display: none;
  }
}

.hamburger-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all .20s ease-in-out;
  transition: all .20s ease-in-out;
}

.hamburger:hover .hamburger-box {
  background: none;
}

.hamburger-inner {
  display: block;
  margin-top: 1px;
  top: 50%;
  left: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 2px;
  border-radius: 0;
  background-color: #C2C9D0;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--efecto .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px;
}

.hamburger--efecto .hamburger-inner {
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--efecto .hamburger-inner::after {
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--efecto.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.hamburger--efecto.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--efecto.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

@media (max-width: 479px) {
  .hamburger,
  .hamburger:focus {
    margin: 0;
  }
}

footer {
  background: #151515;
  color: #C2C9D0;
  padding: 50px 0 0;
}

@media (min-width: 992px) {
  footer .sitemap {
    width: 42%;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  footer .sitemap {
    width: 35%;
  }
}

footer article {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  footer article {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  footer article {
    margin-right: 90px;
  }
}

footer article p {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}

footer article a {
  color: #C2C9D0;
  font-size: 18px;
}

footer article a:hover {
  color: #FBDD12;
}

footer article .footer-nav ul li {
  margin-bottom: 10px;
}

footer article .footer-nav ul li a.active {
  color: #FBDD12;
}

@media (min-width: 992px) {
  footer article .footer-nav ul li {
    display: inline-block;
    margin-right: 25px;
  }
}

footer article .social ul li {
  display: inline-block;
  margin-right: 10px;
}

footer article .social ul li a {
  font-size: 0;
  position: relative;
}

footer article .social ul li a:before {
  font-family: 'fontello';
  font-size: 24px;
  color: #C2C9D0;
  z-index: 1;
}

footer article .social ul li a.fb:before {
  content: '\f09a';
}

footer article .social ul li a.tw:before {
  content: '\f099';
}

footer article .social ul li a:hover:before {
  color: #FBDD12;
}

footer article .contact li {
  margin-bottom: 10px;
}

footer .copyright {
  padding-top: 32px;
  position: relative;
  padding-bottom: 30px;
}

footer .copyright:before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #FBDD12;
  position: absolute;
  left: 0;
  top: 0;
}

footer .copyright:after {
  content: '';
  display: block;
  clear: both;
}

footer .copyright span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  footer .copyright span {
    float: left;
  }
}

footer .copyright a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #C2C9D0;
}

footer .copyright a:hover {
  color: #FBDD12;
}

@media (min-width: 768px) {
  footer .copyright a {
    float: right;
  }
}

.slider-marcas-container {
  padding: 30px 0;
  background: #C2C9D0;
}

.slider-marcas-container img {
  width: 60%;
  display: block;
  margin: auto;
}

.slider-marcas-container .slick-slide {
  height: auto;
}

.slider-marcas-container img:focus, .slider-marcas-container .slick-slide:focus {
  outline: 0;
}

@media (min-width: 768px) {
  .slider-double-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider-double {
  background-size: 0 0;
}

.slider-double img {
  width: 100%;
}

.slider-double img:focus {
  outline: 0;
}

@media (min-width: 768px) {
  .slider-double {
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .slider-double img {
    display: none;
  }
  .slider-double .slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .slider-double .slick-list, .slider-double .slick-track {
    height: 100%;
  }
}

.slider-double-nav {
  background: #C2C9D0;
  color: #272727;
  padding: 20px 30px 85px;
}

@media (min-width: 768px) {
  .slider-double-nav {
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 50px 35px 85px;
  }
}

@media (min-width: 992px) {
  .slider-double-nav {
    padding: 50px 40px 135px;
  }
}

.slider-double-nav .slide h3 {
  margin-bottom: 10px;
}

.slider-double-nav .slide:focus {
  outline: none;
}

.slider-double-nav .slick-dots {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .slider-double-nav .slick-dots {
    width: auto;
    left: 30px;
  }
}

.slider-double-nav .slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}

.slider-double-nav .slick-dots li button {
  font-size: 0;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background: #fff;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.slider-double-nav .slick-dots li button:focus {
  outline: 0;
}

.slider-double-nav .slick-dots li.slick-active button {
  background: #CE2840;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.slider-double-nav .slick-dots li.slick-active button:focus {
  outline: 0;
}

.slider-double-nav .slick-dots li.slick-active button:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.slider-double-nav .slick-arrow {
  font-size: 0;
  display: block;
  width: 30px;
  height: 30px;
  background: #FBDD12;
  position: absolute;
  bottom: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.slider-double-nav .slick-arrow:before {
  content: '';
  background-size: 9px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}

.slider-double-nav .slick-arrow:focus {
  outline: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.slider-double-nav .slick-arrow:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.slider-double-nav .slick-arrow:active {
  -webkit-transform: none;
  transform: none;
}

.slider-double-nav .slick-arrow.slick-next {
  right: 30px;
}

.slider-double-nav .slick-arrow.slick-next:before {
  background-image: url("../images/icons/arrow-right.svg");
}

.slider-double-nav .slick-arrow.slick-prev {
  right: 75px;
}

.slider-double-nav .slick-arrow.slick-prev:before {
  background-image: url("../images/icons/arrow-left.svg");
}

form {
  text-align: left;
}

@media (min-width: 768px) {
  form {
    width: 450px;
    margin: auto;
    text-align: center;
  }
  form label {
    text-align: left;
  }
}

@media (min-width: 992px) {
  form {
    width: 500px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  form {
    width: 600px;
    margin: auto;
  }
}

form fieldset, form input, form select, form textarea, form label {
  width: 100%;
  display: block;
  border-radius: 0;
}

form fieldset {
  margin-bottom: 30px;
}

form label {
  margin-bottom: 10px;
}

form input, form select, form textarea {
  padding: 15px;
  background: #C2C9D0;
  -webkit-appearance: none;
  color: #272727;
  border: 2px solid transparent;
  font-size: 16px;
}

form input:focus, form select:focus, form textarea:focus {
  outline: 0;
  border: 2px solid #FBDD12;
}

form input, form select {
  height: 50px;
  padding: 0 15px;
}

form textarea {
  min-height: 100px;
}

form p {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  padding-top: 35px;
}

.s_contacto .top {
  background-image: url("../images/tops/contacto.jpg");
}

.s_contacto h2 br {
  display: none;
}

@media (min-width: 768px) {
  .s_contacto h2 br {
    display: inline;
  }
}

.s_contacto .floating-box {
  padding-bottom: 0;
}

.s_contacto form button {
  margin-bottom: 60px;
}

.s_cotizar .top {
  background-image: url("../images/tops/cotizar.jpg");
}

@media (min-width: 992px) {
  .s_cotizar h1 br {
    display: none;
  }
}

.s_home .top {
  background-image: url("../images/tops/home.jpg");
}

.s_home .floating-box-container {
  margin-bottom: 50px;
}

.s_home .floating-box-container .floating-box .flex-container div {
  margin-bottom: 35px;
  text-align: left;
}

.s_home .floating-box-container .floating-box .flex-container div img {
  height: 40px;
  margin-bottom: 5px;
}

.s_home .floating-box-container .floating-box .flex-container div:nth-child(2) img {
  height: 55px;
}

@media (min-width: 992px) {
  .s_home .floating-box-container .floating-box .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 40px;
  }
  .s_home .floating-box-container .floating-box .flex-container div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 30px 50px;
  }
}

.s_home .medios-pago {
  text-align: center;
}

.s_home .medios-pago article {
  width: 255px;
  height: 182px;
  margin: 0 auto 25px;
  position: relative;
}

.s_home .medios-pago article:last-of-type {
  margin-bottom: 0;
}

.s_home .medios-pago article img {
  width: 70px;
  display: block;
}

.s_home .medios-pago article .inner {
  background: #C2C9D0;
  width: 100%;
  height: 100%;
  position: relative;
}

.s_home .medios-pago article .inner img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.s_home .medios-pago article .outer {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: #C2C9D0;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1.5px solid #CE2840;
  transition: transform .3s ease,opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
  color: #333;
  text-transform: uppercase;
  font-size: 18px;
}

.s_home .medios-pago article .outer img {
  margin: 0 auto 15px;
}

.s_home .medios-pago article .outer .content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.s_home .medios-pago article:hover .inner {
  border: 1px dashed red;
  background: #151515;
}

.s_home .medios-pago article:hover .outer {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-40px, -40px);
  transform: translate(-40px, -40px);
}

@media (min-width: 992px) {
  .s_home .medios-pago article, .s_home .medios-pago h3 {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .s_home .medios-pago article:first-of-type {
    margin-left: 100px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .s_home .medios-pago article:first-of-type {
    margin-left: 125px;
    margin-right: 25px;
  }
}

.s_nosotros .top {
  background-image: url("../images/tops/nosotros.jpg");
}

.s_nosotros .floating-box-container {
  margin-bottom: 50px;
}

.s_nosotros .floating-box-container .floating-box {
  padding: 45px 25px;
}

.s_nosotros .floating-box-container .floating-box p:not(last-of-type) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .s_nosotros .floating-box-container .floating-box {
    padding: 45px;
  }
}

@media (min-width: 992px) {
  .s_nosotros .floating-box-container .floating-box {
    padding: 45px 100px;
  }
}
